<div class="tat-view tat-standardview">

  <div ng-hide="ctrl.data.isTopicRw" class="alert alert-info tat-alert-fixed">
    <i class="fa fa-info-circle"></i> {{ 'shared_message_read_only' | translate }}
  </div>

  <!-- message-box -->
  <message-box topic="ctrl.data.topic" is-topic-rw="ctrl.data.isTopicRw" expand-replies="ctrl.data.expandReplies" messages="ctrl.data.messages"></message-box>
  <!-- /message-box -->

  <div class="row">
    <div ng-class="(message && message.displayed) ? 'tat-view-list col-md-7': 'tat-view-list col-md-12'">
      <table class="table table-striped table-responsive">
        <tbody>
          <tr ng-repeat="msg in ctrl.data.messages" ng-class="msg.displayed ? 'open': ''" class="tat-msg-wrapper" ng-show="!msg.hide">
            <td>
              <a ng-href="#" ng-click="ctrl.toggleMessage(msg)" class="tat-msg-toggle">
                <i ng-class="msg.displayed ? 'fa fa-angle-left': 'fa fa-angle-right'"></i>
              </a>
              <button ng-if="msg.nbReplies > 0" class="tat-replies-count badge btn-xs" title="Click to display replies to this message" ng-click="ctrl.getReplies(msg)">
                {{ msg.nbReplies }}
              </button>
              <div class="tat-msg" ng-bind-html="msg.text | linky | nl2br | parseTags:msg.tags"></div>
              <div class="tat-meta">
                <span class="date" am-time-ago="msg.dateCreation * 1000" title="created: {{ msg.dateCreation * 1000| amCalendar }}, updated: {{ msg.dateUpdate * 1000| amCalendar }}"></span>
                &ndash;
                <user-display username="msg.author.username" fullname="msg.author.fullname"></user-display>
                &nbsp;
                <a class="tat-permalink" title="{{ 'shared_message_url' | translate }}" ng-click="ctrl.urlMessage($event, msg)">
                  <i class="fa fa-link"></i>
                </a>
                &nbsp;
                <span ng-show="msg.nbVotesUP" class="tat-votes">
                  <i class="fa fa fa-thumbs-up tat-vote"></i><span ng-show="msg.nbVotesUP > 1">&nbsp;{{ msg.nbVotesUP }}</span>
                </span>
                <span ng-show="msg.nbVotesDown" class="tat-votes">
                  <i class="fa fa fa-thumbs-down tat-vote"></i><span ng-show="msg.nbVotesDown > 1">&nbsp;{{ msg.nbVotesDown }}</span>
                </span>
                <span ng-show="msg.nbLikes" class="tat-likes">
                  <i class="fa fa-heart"></i><span ng-show="msg.nbLikes > 1">&nbsp;{{ msg.nbLikes }}</span>
                </span>
                <span ng-repeat="label in msg.labels | toArray | orderBy:'text' track by $index" class="tat-label"
                  style="background-color: {{ label.color }}; border-right-color: {{ label.color }}; color: {{ ctrl.getBrightness(label.color)>130 ? '#000000' : '#ffffff' }}">
                  {{ label.text }}
                </span>
              </div>
              <div class="tat-replies" ng-if="msg.displayReplies || ctrl.data.expandReplies" ng-show="msg.replies">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="reply in msg.replies">
                      <td>
                        <div class="tat-msg" ng-bind-html="reply.text | linky | nl2br | parseTags:reply.tags"></div>
                        <div class="tat-meta">
                          <span class="date" am-time-ago="reply.dateCreation * 1000" title="created: {{ reply.dateCreation * 1000| amCalendar }}, updated: {{ reply.dateUpdate * 1000| amCalendar }}"></span>
                          &ndash;
                          <user-display username="reply.author.username" fullname="reply.author.fullname"></user-display>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5" ng-if="message && message.displayed">
      <div class="tat-view-detail">
        <button class="btn btn-default btn-close-msg" ng-click="ctrl.closeMessage()"><i class="fa fa-angle-left"></i></button>
        <messages-standardview-item
               data-topic="ctrl.data.topic"
               data-message="message"
               data-is-topic-deletable-msg="ctrl.data.isTopicDeletableMsg"
               data-is-topic-updatable-msg="ctrl.data.isTopicUpdatableMsg"
               data-is-topic-deletable-all-msg="ctrl.data.isTopicDeletableAllMsg"
               data-is-topic-updatable-all-msg="ctrl.data.isTopicUpdatableAllMsg"
               data-is-topic-rw="ctrl.isTopicRw"></messages-standardview-item>
      </div>
    </div>
  </div>

  <div class="row more">
    <button ng-disabled="!ctrl.data.displayMore" ng-click="ctrl.loadMore()" class="btn btn-default">
      <span ng-show="ctrl.data.displayMore"><i class="fa fa-plus-circle"></i></span>
      {{ 'shared_message_show_more' | translate }}
    </button>
  </div>

</div>
